{% extends 'pages/main.html' %}
{% block title %}Категории{% endblock %}
{% block content %}
<style>
	.all_cat_name {
		font-size: 16pt;
		text-align: center;
		text-decoration: none;
		color: black;
		font-weight: 650;
	}
	a:hover {
		color: #1f6f8b;
	}
</style>
	<div class="container", style="margin-top: 4.2rem;">
		<div class="row">
			{% for category in categorys %}
				<div class="col-lg-3 col-sm-6 portfolio-item", style="margin-top: 1rem; border-radius: 10px;">
					<div class="card h-100">
						<a class="all_cat_name" href="{% url 'category' category.slug %}">{{ category.name }}</a>
						<a href="{% url 'category' category.slug %}", style=""><img src="{{ category.image.url }}", style="width: 100%;"></a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>		
{% endblock %}